body{
  font-family: 'Roboto Slab', serif;
}
header{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 25vh;
  margin:0;
  padding: 0;
}
.home{
  background-image: url(../images/background.jpeg);
}
.education{
  background-image: url(../images/education.jpg);
}
.employment {
  background-image: url(../images/employment.jpg);
}

.extracurricular{
  background-image: url(../images/extracurricularheader.jpg);
}
header h1{
  font-size:12vh;
  color: white;
  text-align: center;
}
nav {
  margin: 0;
  padding: 0;

}
nav ul li{
  display: block;
  width: 96%;
  margin: 1vh;
  text-align: center;
  font-size:5vh;
  background-color: DarkGrey;
  min-height: 100%;
}
nav ul li:hover{
  display: block;
  width: 96%;
  margin: 1vh;
  text-align: center;
  font-size: 5vh;
  background-color: LightGrey;
  min-height: 100%;
}
nav a{
  text-decoration: none;
  color: black;
}

nav a:hover{
  text-decoration: none;
  color: black;
}
.current{
  background-color: LightGrey;
  color: black;
}

.homemain{
  display: grid;
  grid-template-columns: 5% 90% 5%;
}
.aboutme{
  grid-column-start:2;
}
h2 {
  font-size: 5vh;
}
p{
  text-indent: 2vw;
  font-size: 2.5vh;
}
.resume{
  grid-column-start: 2;
}
embed{
  width:100%;
  height:100vh;
}
.skills{
  grid-column-start:2;
  font-size: 2.5vh;
}

footer{
  background-color: DarkGrey;
  height: 50%;
  font-size: 10vh;
}
footer li{
  display: block;
  text-align: center;
}

footer a{
  color: black;
  text-decoration: none;
}
footer a:hover{
  color: LightGrey;
}
@media only screen and (orientation: landscape){
  nav ul li{
    display: inline-block;
    width: 48%;
    margin: 1vh auto;
  }
  nav ul li:hover{
    display: inline-block;
    width: 48%;
    margin: 1vh auto;
  }
}

@media only screen and (min-width: 750px){
  nav ul li{
    display: inline-block;
    width: 48%;
    margin: 1vh auto;
  }
  nav ul li:hover{
    display: inline-block;
    width: 48%;
    margin: 1vh auto;
  }
  .homemain{
    display: grid;
    grid-template-columns: 7.5% 40% 5% 40% 7.5%;
    grid-template-rows: 50% 50%
  }
  .aboutme{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }
  .resume{
    grid-column: 4;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .skills{
    grid-column:2;
    grid-row: 2;
    font-size: 2.5vh;
  }

  #grad{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 10% 60%;
    justify-content: center;
  }
  #courses{
    grid-column: 1;
    grid-row: 1;
  }
  #umsi{
    grid-column: 2;
    grid-row: 1;
  }
  #coursework{
    grid-column-start:1;
    grid-column-end: 3;
    grid-row: 3;

  }
  #undergrad{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 40% 30%;
    align-content: center;
  }
  #lsacourses{
    grid-column: 1;
    grid-row: 2;
  }
  #lsa{
    grid-column: 2;
    grid-row: 2;
  }
  #gallery{
    display: grid;
    grid-template-rows: 15% 2% 15% 2% 15% 2% 15% 2% 15% 2% 15%;
    grid-template-columns: 20% 60% 20%;
  }
  #acragold{
    grid-row: 1;
    grid-column: 2;
  }
  #dadvail{
    grid-row: 3;
    grid-column:2;
  }
  #hiking{
    grid-row: 5;
    grid-column:2
  }
  #canyon{
    grid-row: 7;
    grid-column: 2;
  }
  #chili{
    grid-row:9;
    grid-column:2;
  }
  #chipotle{
    grid-row:11;
    grid-column:2;
  }

  footer li{
    display: inline-block;
    width: 30%;
  }
}
@media only screen and (min-width: 1200px){
  nav ul li{
    width: 24%;
  }

  nav ul li:hover{
    width: 24%;
  }

  #gallery{
    display: grid;
    grid-template-rows: 30% 5% 30% 5% 30%;
    grid-template-columns: 7.5% 40% 5% 40% 7.5%;
  }
  #acragold{
    grid-row: 1;
    grid-column: 2;
  }
  #dadvail{
    grid-row: 1;
    grid-column:4;
  }
  #hiking{
    grid-row: 3;
    grid-column:2
  }
  #canyon{
    grid-row: 3;
    grid-column: 4;
  }
  #chili{
    grid-row:5;
    grid-column:2;
  }
  #chipotle{
    grid-row:5;
    grid-column:4;
  }
}
